# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Project1/.vs/Project1/v15/Browse.VC.db
Project1/.vs/Project1/v15/Browse.VC.opendb
Project1/Project1.sln
Project1/Project1/Project1.vcxproj
Project1/Project1/Project1.vcxproj.user
Project1/Project1/Project1.vcxproj.filters
Project1/.vs/Project1/v15/.suo
Project1/.vs/Project1/v15/ipch/AutoPCH/36952d3ee480128/STACKLIST.ipch
Project1/Project1/Debug/Project1.log
Project1/Project1/Debug/StackList.tlog/CL.command.1.tlog
Project1/Project1/Debug/StackList.tlog/StackList.lastbuildstate
Project1/Project1/Debug/StackList.tlog/unsuccessfulbuild
Project1/Project1/Debug/vc141.idb
Project1/Project1/Debug/vc141.pdb
